@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Busilac</title>
    @Styles.Render("~/Content/gentella_css")
    @Styles.Render("~/Content/site-css")
    @RenderSection("styles", required: false)
</head>
<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            <!-- left sidebar -->
            @Html.Partial("_LeftSidebar")
            <!-- /left sidebar -->
            @Html.Partial("_TopNavigation")
            <div class="right_col" role="main">
                <!-- page content -->
                @RenderBody()
                <!-- /page content -->
            </div>
            <!-- footer content -->
            @Html.Partial("_Footer")
            <!-- /footer content -->
        </div>
    </div>
    @Html.Partial("_SendMessage")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/gentella_js")
    @RenderSection("scripts", required: false)
    @if (Request.IsAuthenticated)
    {
        var currUserId = User.Identity.GetUserId();

        <script>
            var currentUserId = '@currUserId';

            $(document).ready(function () {

                MessagesHandler.getMessages();
                MessagesHandler.getRecipientList();

                NotificationsHandler.getNotifications();

                $('#send-message').on('click', function () {
                    var that = this;
                    $(that).prop('disabled', true); // so we don't double send

                    MessagesHandler.sendMessage(function (data) {
                        if (data.success) {
                            // if successful, reset fields and close modal.
                            MessagesHandler.getMessages();
                            $(that).prop('disabled', false);
                            $('#message-text').val('')
                            $('#sendMessageModal').modal('hide');
                        }
                    });
                });

                $('.message-dropdown').on('click', function () {
                    MessagesHandler.messageRead(function (data) {
                        if (data.success) { $('#message-count').html('0'); }
                    })
                });

                $('.alert-dropdown').on('click', function () {
                    NotificationsHandler.notificationRead(function (data) {
                        if (data.success) { $('#alert-count').html('0'); }
                    })
                });
            })

            var NotificationsHandler = {

                getNotifications: function () {
                    $.get('@Url.Action("GetNotifications", "Notifications", new { userId = currUserId })', function (data) {
                        var unreadCount = 0;

                        if (data.length) {
                            $('#alert-menu li').remove();
                        }
                        
                        $.each(data, function (i, msgd) {
                            var msgObj = msgd.Notification;
                            var msgTemplate = '<li>' +
                                '<a>' +
                                '<span>' +
                                '<span></span>' +
                                '<span class="time">' + msgd.TimeAgo + '</span>' +
                                '</span>' +
                                '<span class="message">' + msgObj.NotificationMessage + '</span>' +
                                '</a>' +
                                '</li>';

                            $('#alert-menu').prepend(msgTemplate);

                            if (msgObj.isRead == 0) {
                                unreadCount++;
                            }
                        });
                        console.log(unreadCount);
                        if (unreadCount > 0) {
                            $('#alert-count').html(unreadCount).css('visibility', 'visible');
                        } else {
                            $('#alert-count').html(unreadCount).css('visibility', 'hidden');
                        }
                    });
                },

                notificationRead: function (callback) {
                    $.post('@Url.Action("NotificationsRead", "Notifications", new { userId = currUserId })').done(function (data) { callback(data); });
                }

            }

            var MessagesHandler = {

                getRecipientList: function () {
                    // populate message-to-list
                    $.get('@Url.Action("GetRecipients", "Messages")', function (data) {
                        console.log("got recipients");
                        console.log(data);
                        $.each(data, function (i, udata) {
                            $('#message-to-list').append('<option value="' + udata.UserId + '">' + udata.UserName.capitalize() + '</option>');
                        });
                    });
                },

                getMessages: function () {
                    $.get('@Url.Action("GetMessages", "Messages", new { userId = currUserId })', function (data) {
                        $('#messages-menu li:not(.menu-buttons)').remove();
                        var unreadCount = 0;
                        $.each(data, function (i, msgd) {
                            var msgObj = msgd.Message;
                            var msgTemplate = '<li>' +
                                                    '<a>' +
                                                        '<span class="image"><img src="/images/default_profile.png" alt="Profile Image" /></span>' +
                                                        '<span>' +
                                                            '<span>' + msgObj.Sender.UserName + '</span>' +
                                                            '<span class="time">' + msgd.TimeAgo + '</span>' +
                                                        '</span>'+
                                                        '<span class="message">' + msgObj.Message + '</span>' +
                                                    '</a>'+
                                              '</li>';

                            $('#messages-menu').prepend(msgTemplate);

                            if (msgObj.isRead == 0) {
                                unreadCount++;
                            }
                        });

                        if (unreadCount > 0) {
                            $('#message-count').html(unreadCount).css('visibility', 'visible');
                        } else {
                            $('#message-count').html(unreadCount).css('visibility', 'hidden');
                        }
                    });
                },

                sendMessage: function (callback) {
                    var recipientId = $('#message-to-list').val();
                    var msg = $('#message-text').val();

                    var params = { senderId: currentUserId, recipientId: recipientId, message: msg };

                    // message-text textarea
                    $.post('@Url.Action("SendMessage", "Messages")', params)
                        .done(function (data) {
                            callback(data);
                        });
                },

                messageRead: function (callback) {
                    $.post('@Url.Action("MessagesRead", "Messages", new { userId = currUserId })').done(function (data) { callback(data); });
                }

            }

            String.prototype.capitalize = function () {
                return this.replace(/(?:^|\s)\S/g, function (a) { return a.toUpperCase(); });
            };
        </script>
    }
</body>
</html>
