<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            @if (User.IsInRole("Admin"))
            {
                <li>
                    @*<a><i class="fa fa-home"></i> Admin <span class="fa fa-chevron-down"></span></a>*@
                    <a> Admin <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Manage Materials", "Index", "Materials")</li>
                        <li>@Html.ActionLink("Manage Products", "Index", "Products")</li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Procurement") || User.IsInRole("Admin"))
            {

                <li>
                    <a> Procurement <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Purchase Orders", "Index", "Procurement")</li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Warehouse") || User.IsInRole("Admin"))
            {

                <li>
                    <a> Warehouse <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Overview", "Index", "Warehouse")</li>
                        <li>@Html.ActionLink("Materials Sales Orders", "MaterialSalesOrders", "Warehouse")</li>
                        <li>@Html.ActionLink("Product Manufacture Orders", "ManageProductionOrders", "Warehouse")</li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Purchaser") || User.IsInRole("Admin"))
            {
                <li>
                    <a> Purchasing <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Materials Orders", "Index", "Purchasing")</li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Supplier") || User.IsInRole("Admin"))
            {
                <li>
                    <a> Supplier <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Materials Orders", "Index", "Supplier")</li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Manufacturing") || User.IsInRole("Admin"))
            {
                <li>
                    <a> Manufacturing <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Product Orders", "Index", "Manufacturing")</li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Client") || User.IsInRole("Admin"))
            {
                <li>
                    <a> Client <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Buy Products", "Index", "Client")</li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("ClientSales") || User.IsInRole("Admin"))
            {
                <li>
                    <a> Client Sales <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Manage Ordered Products", "Index", "ClientSales")</li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>
