@model Busilac.ViewModels.MaterialSalesOrderDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    decimal pageTotal = 0;
}

<h1>Details</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <p>
            @Html.ActionLink("< Back", "Index", "Procurement", new { @class = "btn btn-default" })
        </p>
        <div class="panel panel-default orders-modal">
            <div class="panel-body">
                <div class="text-center">
                    <h1><i class="fa fa-truck"></i></h1>
                    <h3 style="margin-bottom: 0;">BUSILAC FEEDMILLS, INC.</h3>
                    <p>National Highway, San Jose, Batangas</p>
                    <p>Telephone Nos. 726-2296; 726-2297</p>
                    <p>TIN - 001-440-691 Non-Vat</p>
                    <br />
                    <h5>MO# @Model.MaterialSalesOrders.MaterialSalesOrdersId</h5>
                    <h4>PURCHASE ORDER</h4>
                </div>
                <br />
                <h5>
                    <strong>Date Ordered:</strong> @Model.MaterialSalesOrders.OrderDate.ToShortDateString()
                </h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Materials</th>
                            <th>Weight (kg)</th>
                            <th>Price</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MaterialSalesOrderDetails)
                        {
                            var subtotal = item.Weight * item.Price;
                            pageTotal += subtotal;

                            <tr>
                                <td>@item.Materials.Name</td>
                                <td>@item.Weight</td>
                                <td>@item.Price</td>
                                <td>@subtotal.ToString("0.00")</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="3" class="text-right">Total:</td>
                            <td>@pageTotal.ToString("0.00")</td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    @Html.ActionLink("Print", "Print", "Procurement", new { id = Model.MaterialSalesOrders.MaterialSalesOrdersId }, new { @class = "btn btn-default" })
                </p>
            </div>
        </div>
    </div>
</div>
