@model Busilac.ViewModels.CreateSalesOrderViewModel

@{
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    decimal totalOrdered = 0;
}

<h1>Supplier</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                @Html.ActionLink("< Back", "Index", null, new { @class = "btn btn-default" })
            </p>
            <div class="panel panel-default">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaterialsSalesOrders.MaterialSalesOrdersId)
                <div class="panel-body orders-modal">
                    <div class="text-center">
                        <h1><i class="fa fa-truck"></i></h1>
                        <h3 style="margin-bottom: 0;">BUSILAC FEEDMILLS, INC.</h3>
                        <p>National Highway, San Jose, Batangas</p>
                        <p>Telephone Nos. 726-2296; 726-2297</p>
                        <p>TIN - 001-440-691 Non-Vat</p>
                        <br />
                        <h5>PO#: @Model.MaterialsSalesOrders.MaterialSalesOrdersId</h5>
                        <h4>PURCHASE ORDER</h4>
                    </div>
                    <br />
                    <div class="clearfix">
                        <h5 class="pull-left">
                            <strong>To: </strong> @Model.MaterialsSalesOrders.Supplier.UserName
                        </h5>
                        <h5 class="pull-right">
                            <strong>Date Ordered: </strong> @Model.MaterialsSalesOrders.OrderDate.ToShortDateString()
                        </h5>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Material</th>
                                <th>Type</th>
                                <th>Weight (kg)</th>
                                <th>Price/kg</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MaterialsSalesOrdersDetails)
                            {
                                var subTotal = item.Price * item.Weight;
                                totalOrdered += subTotal;

                                <tr>
                                    <td>@item.Materials.Name</td>
                                    <td>@item.Materials.Type.TypeName</td>
                                    <td>@item.Weight</td>
                                    <td>@item.Price</td>
                                    <td>@subTotal.ToString("0.00")</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4" class="text-right">Total</td>
                                <td>@totalOrdered.ToString("0.00")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer clearfix">
                    <input type="submit" value="Approve" class="btn btn-success btn-sm pull-right" />
                </div>
            </div>
        }
    </div>
</div>

