@model Busilac.ViewModels.SoldProductsReportViewModel
@{
    ViewBag.Title = "ProductOverview";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

<h1>Total Products Sold</h1>
<h5><small>as of @DateTime.Now</small></h5>
<hr />
<p class="hidden-print">
    @Html.ActionLink("< Back", "Index", "Home", null, new { @class= "btn btn-default btn-sm" })
    <button onclick="window.print();" class="btn btn-sm btn-default">Print</button>
</p>

@using (Html.BeginForm()) { 
<div class="panel panel-default hidden-print">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <label>Start Date</label>
                        <input type="text" name="startdate" value="" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>End Date</label>
                        <input type="text" name="enddate" value="" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Select Product</label>
                        @Html.DropDownList("productId", new SelectList(Model.ProductList, "Id", "Name"), "Select Product", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label style="visibility: hidden;">.</label>
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
</div>
}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ordered Date</th>
            <th>Client</th>
            <th>Product</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SoldProductsList)
        {
            <tr>
                <td>@item.DateOrdered</td>
                <td>@item.ClientName</td>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>

